<div class="site-blocks-cover" style="overflow: hidden;">
    <div class="container">
      <div class="row align-items-center justify-content-center">

        <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">
          
          <img src="/assets/images/undraw_investing_7u74.svg" alt="Image" class="img-fluid img-absolute">

          <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-6 mr-auto">
              <h1>Visibility. Accountability. Efficiency.</h1>
              <p>The unattended retail space has been plagued by <span class="text-danger">complacency</span> and <span class="text-danger">opaqueness</span>, 
                  with services that are outdated and insecure, operations lack <span class="text-danger">visibility</span>,
                  and limits <span class="text-danger">efficiency</span> and <span class="text-danger">scalability</span>. 
                </p>
                <p class="mb-5">
                  Vendexis strives to distinguish itself in bringing forth <span class="text-success">robust technologies</span> with focus on 
                  <span class="text-success">operational excellence</span> and <span class="text-success">transparency</span>. 
                  Combined with <span class="text-success">intuitive UIs</span> and a <span class="text-success">centralized decision-making platform</span>,
                  we build tools that streamline and simplify your operations.
              </p>
              <div>
                <a href="#features-section" class="btn btn-primary mr-2 mb-2">Learn more</a>
              </div>
            </div>
            
            
          </div>

        </div>
      </div>
    </div>
</div>  
